version: 0.1
log:
  fields:
    service: registry
storage:
    cache:
        layerinfo: inmemory
    filesystem:
        rootdirectory: /var/lib/registry
auth:
  htpasswd:
    realm: basic-realm
    path: /etc/docker-distribution/registry/.htpasswd
http:
    addr: {{ registry_hostname }}:5000
    tls:
      certificate: /etc/docker-distribution/server.crt
      key: /etc/docker-distribution/server.key