[rhel-7-server-rpms]
baseurl = https://{{ bastion_hostname }}/repos/rhel-7-server-rpms
name = Red Hat Enterprise Linux 7 Server (RPMs)
enabled = 1
gpgcheck = 0
sslverify=false

[rhel-7-server-extras-rpms]
baseurl = https://{{ bastion_hostname }}/repos/rhel-7-server-extras-rpms
name = Red Hat Enterprise Linux 7 Server - Extras (RPMs)
enabled = 1
gpgcheck = 0
sslverify=false

[rhel-7-server-ansible-2.9-rpms]
baseurl = https://{{ bastion_hostname }}/repos/rhel-7-server-ansible-2.9-rpms
name = Red Hat Ansible Engine 2.9 for RHEL 7 x86_64
enabled = 1
gpgcheck = 0
sslverify=false

[rhel-server-rhscl-7-rpms]
baseurl = https://{{ bastion_hostname }}/repos/rhel-server-rhscl-7-rpms
name = Red Hat Software Collections (for RHEL Server)
enabled = 1
gpgcheck = 0
sslverify=false

[rhel-7-server-ose-3.11-rpms]
baseurl = https://{{ bastion_hostname }}/repos/rhel-7-server-ose-3.11-rpms
name = Red Hat OpenShift Container Platform 3.11 x86_64
enabled = 1
gpgcheck = 0
sslverify=false